/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

img{
  max-width: 100%;
}

.btn {
  background-color: #0061FF;
  color: #FFFFFF;
}


/*utilities*/
.debug {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .50);
}

.container-1 {
  width: 65%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-2 {
  width: 52%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.column {
  width: calc(100% / 3);
}

.column.a {
  padding-left: 0;
  padding-right: calc(100px / 3);
}

.column.b {
  padding-left: calc(100px / 6);
  padding-right: calc(100px / 6);
}

.column.c {
  padding-left: calc(100px / 3);
  padding-right: 0;
}

.separator {
  margin-left: 30px;
  width: 50px;
  border-bottom: 1px solid #D0D0D3;
}


/*header*/
header {
  justify-content: space-between;
  /*position: fixed;*/
  /*momentaneamente oscurato*/
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}

.header-left, .header-right {
  align-items: center;
  height: 100%;
}

.header-left .logo {
  padding: 0 40px 0 20px;
}

.menu ul {
  line-height: 80px;
}

.menu ul li a {
  height: 100%;
  display: inline-block;
}

.menu ul li a:hover {
  border-bottom: 2px solid #000000;
}

.header-left nav ul li {
  padding-right: 45px;
}

.header-right ul li {
  padding-left: 35px;
}

.menu li {
  list-style: none;
}

.header-left nav ul li a, .header-right ul li a {
  text-decoration: none;
  color: #000000;
}

.header-right .btn {
  margin-right: 25px;
  width: 70px;
  height: 35px;
  padding: 9px 16px;
  display: inline;
  color: #FFFFFF;
  /*overflow?*/
}

.header-right .btn:hover {
  border: none;
}


/*jumbotron*/
.jumbotron {
  height: 740px;
  /*max-width: 1200px;*/
  background-color: #B4D0E7;
  margin-top: 80px;
}

.jumbotron h1 {
  font-size: 72px;
  font-weight: 800;
  padding: 80px 0 60px 0;
}

.text-box {
  flex-direction: column;
  width: 30%;
}

.text-box p {
line-height: 22px;}

.text-box .btn {
  width: 225px;
  height: 45px;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
}

.text-box i {
  padding: 75px 0;
  font-size: 50px;
  font-weight: 900;
}

.jumbo-img {
  width: 70%;
  min-width: 500px;
 }

 
/*main*/
main {
  /*altezza temporaanea*/
  height: 2740px;
}

main h2 {
  padding: 160px 0 60px;
  font-size: 41px;
}

.annual.selector {
  margin-left: 50px;
}

.billing .selector .radio-button{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid #0061FF;
  border-radius: 25px;
  margin-right: 5px;
}

.billing .annual.selector .radio-button{
  border: 2px solid #D1D1D4;
}

.billing .selector span {
  font-size: 15px;
}


/*section 1*/
/*product row-1*/
.product .row-one {
  padding-top: 30px;
}

/*
.row-one .column {
  justify-content: space-between;
  width: calc(100% / 3);
  padding-top: 25px;
}

.column.a {
  padding-left: 0;
  padding-right: calc(100px / 3);
}

.column.b {
  padding-left: calc(100px / 6);
  padding-right: calc(100px / 6);
}

.column.c {
  padding-left: calc(100px / 3);
  padding-right: 0;
}
*/
.product .row-one .column {
  padding-top: 25px;
}

/*.product .row-one .column .card, .product .row-two .column */.card {
  border: 1px solid #D0D0D3;
  height: 100%;
  font-size: 14px;
}

/*.product .row-one .column .card */.card-top {
  min-height: 40px;
  justify-content: center;
  align-items: center;
}


.product .row-one .column .card .card-middle, .product .row-one .column .card .card-bottom {
  padding: 0 30px;
}

/*.product .row-one .column */.card .card-middle {
  border-top: 1px solid #D0D0D3;
}

/*.product .row-one .column */.card .card-middle h4 {
  font-size: 24px;
  padding: 25px 0 15px;
}

/*.product .row-one .column */.card .card-middle strong {
  line-height: 30px;
}

#rapporto {
  color: grey;
  line-height: 30px;
}

.product .row-one .column .card .card-middle ul, .product .row-one .column .card .card-bottom ul {
  list-style: none;
  padding: 30px 0;
}

.product .row-one .column .card .card-middle ul li, .product .row-one .column .card .card-bottom ul li{
  padding: 10px 0;
  
}

.product .row-one .column .card .card-middle ul li::before, .product .row-one .column .card .card-bottom ul li::before {
  font-family: "Font Awesome 6 Free";
}

.user::before {
  content:"\f007";
  padding-right: 10px;
}

.storage::before {
  content:"\f07b";
  padding-right: 10px;
}

.share::before {
  content:"\f1e0";
  padding-right: 10px;
}

.checked::before {
  content:"\f00c";
  padding-right: 10px;
}

.card-middle .btn {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px 36px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
}

.card .separator {
  display: inline-block;
  padding-bottom: 40px;
}

.product .row-one .column .card .card-bottom {
  min-height: 40px;
}

.product .row-one .column .card .card-bottom h5 {
  padding: 50px 0 0; 
  font-size: 14px;
}


/*product row-2*/
.row-two {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 150px;
}

.column.d {
  width: 100%;
}

.row-two .card-middle {
  padding: 30px;
}

.container-3 {
  position: relative;
}

.card-text {
  display: inline-block;
}

.column.d .card .card-middle h4 {
  padding: 0 0 10px;
}

.column.d .card .card-middle p {
  padding-top: 50px;
  max-width: 600px;
}

.card-middle .container-3 .btn {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
  width: 240px;
  padding: 10px 34px;
  margin: 0;
  font-size: 15px;
}

/* section 2 - partner */

.partner-image {
  width: 60%;
}

.partner-text {
  width: 40%;
  padding: 50px 50px;
}

.partner-text h3, .dropbox-business h3 {
  font-size: 25px;
  font-weight: 550;
  line-height: 35px;
}

.partner-text h3 {
  padding-bottom: 15px;
}

.partner-text p, .dropbox-business p {
  line-height: 22px;
  padding-bottom: 30px;
}

.partner-text .btn {
  display: inline-block;
  width: 160px;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  color: black;
  border: 1px solid black;
}

/* section 3 - business */

.dropbox-business h3 {
  padding-bottom: 30px;
}

.dropbox-business .column {
  padding-bottom: 20px;
}

/* section 4 - clients */

.clients {
  padding-top: 150px;
  padding-bottom: 150px;
}

.square {
  width: 50%;
  aspect-ratio : 1 / 1;
  justify-content: center;
  align-items: center;
}

.square:active {
  border: 15px solid rgba(255, 255, 255, 0.5);
}

.square img {
  max-width: 50%;
  filter: invert(1);
}

.clients .square.designit {
  background-color: #A2D39B;
  /*border: 15px solid rgba(255, 255, 255, 0.5);*/
}

.clients .square.asu {
  background-color: #61082B;
}

.clients .square.uf {
  background-color: #0093CE;
}

.clients .square.topps {
  background-color: #FF1C1C;
}

.clients .square.wbr {
  background-color: #D5001F;
}

.clients .square.hearst {
  background-color: #B4D0E7;
}

.clients .square.lp {
  background-color: #0D2481;
}

.clients .square.cco {
  background-color: #FFD830;
}

.center-text {
  background-color: #F5F5F5;
}

.center-text {
  padding: 50px;
  aspect-ratio : 1 / 1;
  overflow: auto;
}

.center-text img {
  max-width: 50%;
}

.center-text .separator {
  padding: 20px 0;
  margin-left: 0;
  width: 110px;
}

.center-text p {
  line-height: 22px;
  padding: 40px 0 10px;
  font-size: 17px;
}






/*footer*/